<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View</title>
</head>
<body>
<img src="{{album.album_logo}}">
<h1>{{ album.album_title}}</h1>
<h2>{{ album.artist }}</h2>
<ul>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
</ul>
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song", value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
        {{ song.song_title }}
        </label><br>
    {% endfor %}
<input type="submit", value="favorite">

</form>
</body>
</html>